
<div class="PendingBox LandingBox box p-6">

    <%= image_tag('cartoon-shiba-inu-dog-sticker.png', alt: 'Logo', class: 'logo-icon', width: '80') %>
    <h1 class="pendingInfo">Your application was submitted successfully and is now pending for review by our administrators!</h1>
    <h1 class="pendingInfo">We will send you an email to your registered email address once you account has been approved already.</h1>
    <h1 class="pendingInfo"> Thank you!</h1>
</div>