<% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class:'nav-link' %>
</li>
<%end%>

<% if user_signed_in? && current_user.admin? %>
  <!-- Display content for admin users -->
  <p>Welcome, Admin!</p>
<% else %>
  <!-- Display content for non-admin users or guests -->
  <p>Welcome, User!</p>
<% end %>