/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';

body,html {
    margin: 0;
    padding: 0;
    background-color: #B9692E;
  }

.hero.is-primary {
    background-color: #4E331B;
    height: 100px;
    display: flex;
    justify-content: center;
  
    .hero-body {
      margin: 0;
  
    }
  
    .title {
      color: black;
      display: flex;
      align-items: center;
      font-size: 2rem;
      width: 100%;
  
      .logo-icon {
        margin-right: 10px;
      }
    }
  }

.LandingBox {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #ABA193;
  
}

.dashboardButtons {
  margin-bottom: 20px;
 
}

.control {
  width: 350px;
}

